@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #135bec;
  --color-secondary: #64748b;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #ef4444;
  --color-background-light: #f6f6f8;
  --color-background-dark: #0a0c12;
  --color-card-dark: #111318;
  --color-border-dark: #282e39;
}

body {
  @apply bg-background-light dark:bg-background-dark;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-700 hover:bg-slate-600;
}
